.tic-tac{
    color:red;
    font-family: 'Indie Flower','Mystery Quest';
}
.btn{
    margin-left:0; 
    font-family: 'Indie Flower','Mystery Quest';
}

p{
    margin-top:5%;
    font-size: 20px;
    color:red;
    font-family: 'Indie Flower','Mystery Quest';
}