<div class="col-md-offset-4 col-md-4">
  <img class="angular" src="./images/angular.svg" alt="angular">
  <h1 class="tic-tac text-center font-effect-shadow-multiple">Tic-Tac-Toe</h1>
  <button class="btn btn-block" [routerLink]="['/1-Player']"><h3>One Player</h3></button>
  <button class="btn btn-block" [routerLink]="['/2-Player']"><h3>Two Player</h3></button>
</div>
<div class="col-md-12">
    <footer class="footer">
      <div class="container">
        <p class="text-center">Developed and maintained by Kiran Shenoy.</p>
      </div>
    </footer>
</div>